{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-10">
       <h3 class="my-5 alert alert-info">About page</h3>
       <p>I am Brijesh kumar, a student of MCA at GOVT PG COLLEGE SEC 9 Gurgaon. This small website has been created by me for my semester project. Here I have put my knowledge whatever learnt throughout the semester. I am a quick learner and always curious to learn new thing. I like reading books, teaching CS, playing cricket and watching cricket.</p>
{% endblock %}
