{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-10">
       <h3 class="my-5">About page</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo rem voluptatum omnis incidunt perspiciatis blanditiis voluptas hic fuga praesentium rerum, sunt beatae, modi quis. Aliquid eaque sunt quia voluptatibus maiores iure, quo animi consequatur nihil autem non velit laborum eius.</p>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, officia. Ex magni quibusdam quis eaque sed adipisci molestias veniam aperiam.</p>
    </div>
{% endblock %}
